<!-- JS LIBS -->
    <!-- Jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.3/angular-locale_es-ar.min.js"></script>

    <script src="assets/js/jspdf.min.js"></script>
    
    <!-- JS FILES -->
    <script src="assets/js/light.js"></script>
    <!-- Angular Files -->
    <script src="dist/angular/compress.min.js"></script>
    <!-- Error Message -->
    <script type="text/ng-template" id="form-messages">
    <!-- <div ng-message="required">Required</div> -->
    <div ng-message="minlength">Too short</div>
    <div ng-message="maxlength">Too long</div>
    <div ng-message="email">Debes ingresar una dirección de correo</div>
    <div ng-message="compareTo">Las contraseñas no coinciden</div>
    <div ng-message="recordAvailable">El email se encuentra en uso</div>
    </script>