<!DOCTYPE html>
<html>
<head>
    <!-- <base href="/"> -->
    <title><%= title %></title>
    <% include partials/_css-libs.ejs %>
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/login.css">

</head>
<body ng-app="main">

<div data-ui-view="public">
        <span ng-controller="mainCtrl as main">
        <div class="wrapper" ng-if="main.currentUserData">
            <% include partials/_menu.ejs %>
            <div class="content">
            <div class="container-fluid">
              <div data-ui-view="private"></div>
            </div>
          </div>

            <% include partials/_footer.ejs %>
        </div>
        </span>
</div>
<!-- JS LIBS and Angular Files-->
<% include partials/_js-libs.ejs %>

</body>
</html>