<!DOCTYPE html>
<html>
<head>
    <!-- <base href="/"> -->
    <title>Skynet</title>
    <% include partials/_css-libs.ejs %>
    <style>
        .fa {
            display: inline !important;
        }
    </style>
</head>
<body style="background: #000 !important;">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img class="center-block img-responsive" src="assets/img/banner.jpg" alt="Skynet">
        </div>
        <div class="col-xs-12 text-danger">
            <h2 class="text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></h2>
            <h2 class="text-center"><strong>SERVICIO SUSPENDIDO POR FALTA DE PAGO</strong></h2>
        </div>
    </div>
</div>

</body>
</html>