<section ng-controller="OrderCtrl as vm" ng-init="[vm.getAllUsers(),vm.findOne(true)]">
  <!-- Header -->
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
        <h3 class="title"><i class="fa fa-plus"></i>Editar orden de A.T</h3>
      </div>
    </div>
  </div>
  <!-- Client Form -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <!-- Client Data -->
            <div class="col-xs-12">
              <h4>Datos del cliente</h4>
              <hr>
            </div>
            <div class="client-data">
              <div class="col-xs-12 col-md-6">
                <div class="col-xs-12 col-sm-6">
                  <p><strong><i class="fa fa-user"></i>
                  {{vm.orderModel.client.firstName}} {{vm.orderModel.client.lastName}}</strong></p>
                  <p><strong><i class="fa fa-folder-open"></i>
                  Cliente</strong> {{vm.orderModel.client.number}}</p>
                  <p><strong><i class="fa fa-book"></i>
                  DNI</strong> {{vm.orderModel.client.dni}}</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p><i class="fa fa-location-arrow"></i> {{vm.orderModel.client.address}}</p>
                  <p><i class="fa fa-map-marker"></i> {{vm.orderModel.client.city}} / {{vm.orderModel.client.state}}</p>
                  <p><strong><i class="fa fa-phone"></i>
                  </strong> {{vm.orderModel.client.phone}}</p>
                  <p><strong><i class="fa fa-mobile"></i>
                  </strong> {{vm.orderModel.client.cellphone}}</p>
                </div>
              </div>
            </div>
            <!-- Order Form -->
            <div class="col-xs-12">
              <h4>Datos de orden</h4>
              <hr>
            </div>
            <form name='editOrder' role='form' ng-submit="vm.update(editOrder)">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="tech">Técnico</label>
                  <select class="form-control" ng-model="vm.selectedTech" ng-options="option as (option.firstName + ' ' + option.lastName) for option in vm.users"
                  ng-disabled="main.currentUserData.role == 'Tech'"></select>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="problem">Problema</label>
                  <textarea class="form-control" id="problem" placeholder="describir problema" rows="5" required="true" ng-model="vm.orderModel.problem" ng-disabled="main.currentUserData.role == 'Tech'">
                  </textarea>
                </div>
                <div class="form-group">
                  <label for="solution">Solución</label>
                  <textarea class="form-control" id="solution" placeholder="describir solución" rows="5" ng-model="vm.orderModel.solution"></textarea>
                </div>
                <div class="form-group">
                  <label for="observation">Observación</label>
                  <textarea class="form-control" id="observation" placeholder="describir observación" rows="5" ng-model="vm.orderModel.observation"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-sm-2">
                <div class="form-group">
                  <label for="tech">Solucionado</label>
                  <select class="form-control" ng-model="vm.orderModel.solved"
                  ng-options="option for option in vm.solvedOpt">
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <label for="tech">Estado de la orden</label>
                  <select class="form-control" ng-model="vm.orderModel.status"
                  ng-options="option for option in vm.orderStatus" required>
                  </select>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-fill pull-right"
                  >Editar Orden</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Alert Error/Success -->
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="vm.errorInfo.msg" class="alert alert-danger" role="alert">
        <p><strong>
          Error:
        </strong> {{vm.errorInfo.msg}}</p>
      </div>
      <div ng-show="vm.successInfo.msg" class="alert alert-success" role="alert">
        <p><strong>
          {{vm.successInfo.msg}}
        </strong></p>
        <p>Número: {{vm.successInfo.data.number}}</p>
        <p>
        <a href="/panel#/orders/{{vm.orderModel._id}}" class="btn btn-primary btn-fill btn-sm">Ver detalle</a>
        </p>
      </div>
    </div>
  </div>
</section>