<section data-ng-controller = 'OrderCtrl as vm' ng-init="vm.findOne()">
	<!-- Header -->
	<div class="row">
		<div class="col-xs-12">
			<div class="header">
				<h3 class="title"><i class="fa fa-eye"></i>Orden</h3>
			</div>
		</div>
	</div>
	<!-- Order Form -->
	<div class="col-xs-12" id="print-detail">
		<div class="card">
			<div class="content">
				<!-- ORDER DETAIL -->
				<div class="row">
					<div class="col-xs-12">
						<h4>Detalle de cliente</h4>
						<hr>
						<div class="col-xs-12 col-sm-6">
							<p><strong><i class="fa fa-user"></i>
							<span id="clientName">{{vm.orderModel.client.firstName}} {{vm.orderModel.client.lastName}}</span></strong></p>
							<p><strong><i class="fa fa-folder-open"></i>
							Cliente</strong> {{vm.orderModel.client.number}}</p>
							<p><strong><i class="fa fa-book"></i>
							DNI</strong> {{vm.orderModel.client.dni}}</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p><strong><i class="fa fa-location-arrow"></i>
							 Dir:</strong> {{vm.orderModel.client.address}}</p>
							<p><strong><i class="fa fa-map-marker"></i>
							 Ciudad:</strong> {{vm.orderModel.client.city}} / {{vm.orderModel.client.state}}</p>
							<p><strong><i class="fa fa-phone"></i> Tel:
							</strong> {{vm.orderModel.client.phone}}</p>
							<p><strong><i class="fa fa-mobile"></i> Cel:
							</strong> {{vm.orderModel.client.cellphone}}</p>
						</div>
						<div class="col-xs-12">
							<h4>Detalle de orden</h4>
							<hr>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>
							<strong><i class="fa fa-hashtag" aria-hidden="true"></i>
							 N°:</strong> <span id="orderNumber">{{vm.orderModel.number}}</span></p>
							<p><i class="fa fa-wrench"></i> <strong>{{vm.orderModel.tech.firstName}} {{vm.orderModel.tech.lastName}}</strong></p>
							<p>
								<i class="fa fa-thumbs-o-up"></i> <strong>Solucionado:</strong>
								{{vm.orderModel.solved}}
							</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p><strong><i class="fa fa-calendar"></i>
							 Ingreso:</strong> {{vm.orderModel.dateCreated | date:'mediumDate'}}</p>
							<p ng-show="vm.orderModel.dateComplete">
							<strong><i class="fa fa-calendar"></i>
							 Actualizada:</strong> {{vm.orderModel.dateComplete | date:'mediumDate'}}</p>
							
						</div>
						<div class="col-xs-12">
							<p><strong><i class="fa fa-exclamation-triangle"></i> Problema</strong></p>
							<p>
								{{vm.orderModel.problem}}
							</p>
						</div>
						<div class="col-xs-12">
							<p><strong><i class="fa fa-check"></i> Solución</strong></p>
							<p>
								{{vm.orderModel.solution}}
							</p>
							<p ng-if="!vm.orderModel.solution">No se ha descripto</p>
						</div>
						<div class="col-xs-12">
							<p><strong><i class="fa fa-comment"></i> Observación</strong></p>
							<p>
								{{vm.orderModel.observation}}
							</p>
							<p ng-if="!vm.orderModel.observation">No se ha descripto</p>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-2 pull-right">
						<button onclick='window.print();' class="btn btn-default btn-fill pull-right">
						<i class="fa fa-print"></i> Imprimir</button>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-2 pull-right">
						<button onclick='printDetail();' class="btn btn-primary btn-fill pull-right">
						<i class="fa fa-download"></i> Descargar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Convert HTML content to pdf -->
<script>
		var doc = new jsPDF(); 
		var specialElementHandlers = { 
		    '#editor': function (element, renderer) { 
		        return true; 
		    } 
		};
		function printDetail() { 
		    doc.fromHTML($('#print-detail').html(), 10, 5, { 
		        'width': 1000, 
		            'elementHandlers': specialElementHandlers 
		    });
		    var fileName = $("#clientName").text() + '-#' + $('#orderNumber').text() + '.pdf'; 
		    doc.save(fileName); 
		};
</script>