<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="header">
      <h3 class="title"><i class="fa fa-tasks"></i>Ordenes pendientes</h3>
    </div>
  </div>
</div>
<!-- Orders Loop -->
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-12 col-lg-2">
            <p><span class="label label-warning">Pendiente</span></p>
          </div>
          <div class="col-xs-12 col-lg-8">
            <p>
              <strong><i class="fa fa-user"></i> Nombre Cliente</strong>
            </p>
            <p><i class="fa fa-calendar"></i> 12 de marzo</p>
            
            <p><strong>Problema:</strong>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloribus tempora quos veniam odit pariatur sed nesciunt consectetur magnam eum dolore ab, blanditiis quod assumenda fugiat enim accusamus temporibus corporis.
            </p>
          </div>
          <div class="col-xs-12 col-lg-2">
            <button class="btn btn-default btn-simple dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Acciones
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#"><i class="fa fa-eye"></i> Ver detalle</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" class="text-danger"><i class="fa fa-times"></i> Eliminar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>